# Ignore everything
*

# Whitelist subdirectories
!*/

# general
!*.gitignore
!*.yml
!*.md
!*.txt
!*.pdf
!*.docx
!*.bmp

# project related
!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.csproj
!*.config
!*.settings
!*.ps1

# c++ / c#
!*.h
!*.cpp
!*.hpp
!*.rc
!*.cs
!*.resx

# special rules for built sources
**/Debug/**/*.*
**/Release/**/*.*
**/bin/**/*.*
**/obj/**/*.*

# libraries
!*/**/asio-1.12.1/**
