# Ignore everything
*

# Whitelist subdirectories (except vs / solution config)
!*/
*.vs

# general
!*.gitignore
!*.yml
!*.md
!*.txt
!*.pdf
!*.docx
!*.bmp

# project related
!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.csproj
!*.config
!*.settings
!*.ps1

# c++ / c#
!*.h
!*.cpp
!*.hpp
!*.rc
!*.cs
!*.resx

# nuget
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*

# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# special rules for built sources
**/Debug/**/*.*
**/Release/**/*.*
**/bin/**/*.*
**/obj/**/*.*

# libraries
!*/**/asio-1.12.1/**
